section{
  background-image: url('../../../assets/images/pattern-background-mobile-light.svg');
}

// section.dark{
//   background-image: url('../../../assets/images/pattern-background-mobile-dark.svg');
// }

@media screen and (min-width: 768px) {
  section{
    background-image: url('../../../assets/images/pattern-background-tablet-light.svg');
  }
}

@media screen and (min-width: 1024px) {
  section{
    background-image: url('../../../assets/images/pattern-background-desktop-light.svg');
  }

}
