<section class="flex flex-col lg:flex-row lg:space-x-28">
  <section>
    <h2 class="h2-light">Welcome to the</h2>
    <h2 class="h2 mt-2">Frontend Quiz!</h2>
    <p class="p-italic mt-6">Pick a subject to get started.</p>
  </section>
  <section class="mt-12 flex flex-col space-y-4 flex-grow lg:mt-0">
    @for (quizz of quizzes(); track $index) {
      <a [routerLink]="['quizz', quizz.title]">
        <div class="bg-pure-white flex rounded-xl py-4 px-2 items-center">
          <img [src]="quizz.icon" [alt]="quizz.title">
          <h4 class="h5 ml-2">{{quizz.title}}</h4>
        </div>
      </a>
    }
  </section>
</section>

